/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-color: #DC7B5B;
    color: #722119;
    margin: 0px;
    font-family: 'Glegoo', serif;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    /* display: flex;
    justify-content: center; */
  }
  
  nav, ol, ul, td {
    font-family: 'Glegoo', serif;
    font-size: 20px;
    line-height: 30px;
  }
  
  pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
  }
  
  a {
    color: #722119;
    text-decoration: none;
  
    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
  
  th {
    padding-bottom: 5px;
  }
  
  td {
    padding: 0 5px 7px;
  }

div .field {
margin: 0 auto;
  }
  
  #notice {
    color: green;
  }
  
  .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }
  
  #error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
  }

h2 {
  text-align: center;
  font-weight: bold;
  padding: 10px 5px 10px 15px;
  font-size: 30px;
  margin: 60px -7px 0;
  color: #722119;
}
  
ul li {
  font-size: 12px;
  list-style: square;
  background-color: rgba(255, 248, 240, 1); 
  list-style-type: none;
  margin: 0 150px;
  border-radius: 20%;

  
}

ul {
  -webkit-padding-start: 0;
}


label {
  display: block;
}
  

/* This is my own styling */

nav {
    display: flex;
    justify-content: flex-end;
    background-color:#81C4F8;
    text-decoration: none;
    padding: 15px;
}

h1 {
  color: #EAD247;
  text-align: center;
  font-size: 45px;
}

#yellow {
  background-color: #EAD247;
  padding: 2px;
}

span {
  background-color: #EAD247;
  font-family: 'Courgette', cursive;
}

.title {
  font-size: 20px;
}

#logo1 {
  margin-right: 41%;
  font-size: 33px;
}

#logo2 {
  margin-right: 65%;
  font-size: 33px;
}

input {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
