/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-color: #DC7B5B;
    color: #722119;
    margin: 0px;
    font-family: 'Glegoo', serif;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    /* display: flex;
    justify-content: center; */
  }
  
  nav, ol, ul, td {
    font-family: 'Glegoo', serif;
    font-size: 20px;
    line-height: 30px;
  }
  
  pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
  }
  
  a {
    color: #722119;
    text-decoration: none;
  }

div .field {
margin: 0 auto;
  }
  
  #notice {
    color: green;
  }
  
  .field_with_errors {
    padding: 2px;
    background-color: red;
    display: table;
  }
  
  #error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
  }

h2 {
  text-align: center;
  font-weight: bold;
  padding: 10px 5px 10px 15px;
  font-size: 34px;
  margin: 90px -7px -34px;
  color: #722119;
}
  
ul li {
  font-size: 12px;
  list-style: square;
  background-color: rgba(234,210,71, .8);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  list-style-type: none;
  margin: 10px 150px;
  border-radius: 20%;

  
}

ul {
  -webkit-padding-start: 0;
}


label {
  display: block;
  font-size: 20px;
}
  

/* This is my own styling */

nav {
    display: flex;
    justify-content: flex-end;
    background-color:#81C4F8;
    text-decoration: none;
    padding: 15px;
}

h1 {
  color: #EAD247;
  text-align: center;
  font-size: 45px;
}

#yellow {
  background-color: #EAD247;
  padding: 2px;
}

span {
  background-color: #EAD247;
  font-family: 'Courgette', cursive;
}

.title {
  font-size: 22px;
  text-decoration: underline;
}

#logo1 {
  margin-right: 41%;
  font-size: 33px;
}

#logo2 {
  margin-right: 65%;
  font-size: 33px;
}

input {
  width: 9%;
  padding: 12px 20px;
  margin-top: 81px;
  margin-left: 43px;
  box-sizing: border-box;
  background-color: #EAD247;
  font-family: 'Courgette';
  font-size: 26px;
  border-radius: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: #722119
}

input:hover {
  cursor: pointer;
  background-color: #81C4F8;

}

.ohno {
  font-size: 25px;
}

img {
  position: relative;
  width: 20%;
}

/* select {
  position: relative;
  display: inline-block;
} */

select {
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-left: 87px;
  margin-right: 77px;
  font-family: 'Courgette';
  font-size: 25px;
  background-color: #81C4F8;
  color: #722119;
  margin-top: 60px;

}

.sort_label {
  margin-bottom: -50px;
  margin-top: 60px;
  font-size: 20px;
}


.type-input, input#password {
  color: white;
  margin: 10px 0;
  width: 15%;
  padding: 5px;
}

.create {
  margin: 10px 0;
}

.heading {
  font-size: 18px;
  margin-top: 40px;
  line-height: 14px;
}

.footer {
  font-size: 20px;
  margin: 40px auto;
  line-height: 20px;
}

#nofaves {
  padding: 13px 45px;
  border-radius: 10%;
}

#nofaves-container {
  padding: 50px;
}

.browse {
  font-size: 30px;
  text-shadow: 2px 2px rgba(0,0,0,0.2);
}

.browse:hover {
  color: #81C4F8;
}

#update {
  width: auto;
  margin: 25px auto;
}

.fileContainer {
  width: auto;
  margin: 10px auto;
}

.label {
  margin: 5px auto -45px;
}

li {
  line-height: 10px;
  display: inline-block;
  box-sizing: border-box;
  width: 55%;
}

.listing {
  display: inline-flex;
  flex-direction: row-reverse;
}

.info {
  margin-left: -150px;
}

.pic {
  padding: 10px 0;
  margin-left: -271px;
}

.cover {
  width: 35%;
  margin-top: 58px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.heart {
  font-size: 15px;
}

.heart:hover {
  text-shadow: 2px 2px rgba(0,0,0,0.2);
}

.faved {
  text-shadow: 2px 2px rgba(0,0,0,0.2);
  font-size: 27px;
}